.background {
    padding-top: 25px;
    width:100%;
    height:100vh;
    background:url(../assets/background.jpg) center no-repeat;
    background-size:cover;
    opacity: 0.95;
    background-color: #2a435fcc;
    color: rgb(230, 228, 228);

}

.name {
    /* margin-top: 25px; */
    clear: both;
    color: rgb(230, 228, 228);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
}

.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


.exitBtn {
    margin-top: -25px;
    margin-right: 50px;
    background-color: rgba(10, 38, 66, 0.509);
    color: whitesmoke;
    font-size: 20px;
    border-color: rgba(10, 38, 66, 0.509);
    width: 70px;
    height: 30px;
    font-size: 15px;
    float: right;
}

.exitBtn:hover {
    background-color: rgba(0, 1, 2, 0.509);
}

