.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
    
  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal-body {
  padding: 20px;
  background: rgb(5, 25, 43);
  border-radius: 20px; 

  /* margin exposes part of the modal background */
  /* margin: 40px; */
  min-height: 200px;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -100px;
}
  

.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: rgb(10, 38, 66);
  opacity: 0.83;
  
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

